@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes move1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes move2 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes move3 {
  0%, 100% {
    transform: translate(0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  75% {
    transform: translate(10px, 10px);
  }
}

.move1 {
  animation: move1 3s infinite;
}

.move2 {
  animation: move2 4s infinite;
}

.move3 {
  animation: move3 5s infinite;
}
